{% extends 'base.html' %}

{% block body %}
    <div class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-1 text-light text-center m-4">Ticketmaster Social</h1>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-title">{{ user_profile.username }}</h5>

                                {% if user_profile != request.user %}
                                    {% if check_follow_list == 'false' %}
                                        <form method="post" action="{% url 'follow' username=user_profile.username %}">
                                            {% csrf_token %}
                                            <button class="btn btn-primary mb-2">Follow</button>
                                        </form>
                                    {% elif check_follow_list == 'true' %}
                                        <form method="post"
                                              action="{% url 'unfollow' username=user_profile.username %}">
                                            {% csrf_token %}
                                            <button class="btn btn-danger mb-2">Unfollow</button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </div>

                            {% if user_profile == request.user %}
                                <form action="{% url 'bio' %}" method="post">
                                    {% csrf_token %}
                                    <textarea class="form-control" rows="4" name="bio_text"
                                              placeholder="">{{ user_bio }}</textarea>

                                    <button type="submit" class="btn btn-primary mt-2">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                </form>
                            {% else %}
                                <textarea readonly class="form-control" rows="4" name="bio_text"
                                          placeholder="">{{ user_bio }}</textarea>
                            {% endif %}
                        </div>
                    </div>
                    <div class="m-3">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-warning">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Followers - {{ follower_list|length }}</h5>
                            <ul class="list-group">
                                {% for follower in follower_list %}
                                    <li class="list-group-item"><a
                                            href="{% url 'profile' username=follower.follower %}"> {{ follower.follower }} </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="container my-3 p-4 shadow-lg col-12 ">
        <div class="row justify-content-center">
            <h2 class="text-primary">{{ saved_events|length }} posts</h2>
            {% for event in saved_events %}
                <div class="card shadow m-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-title p-3"><b>{{ event.author }} is going to:</b></h5>
                                {% if user.is_authenticated and user == event.author %}
                                    <form method="post" action="{% url 'delete_event' event.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger m-3">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5><b>{{ event.event_name }}</b></h5>
                                <img src="{{ event.event_image }}" class="card-img rounded p-2 img-fluid"
                                     alt="event image">
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-center">
                            <div class="card-body">
                                <h4 class="text-secondary mt-3 mb-3">{{ event.event_venue }}</h4>
                                <p>{{ event.event_address }}<br>{{ event.event_city }}, {{ event.event_state }}</p>
                                <p class="lead text-success">{{ event.event_date }}</p>
                            </div>
                        </div>
                    </div>
                    <p class="text-end text-secondary p-4">Posted on: {{ event.time_stamp }}</p>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h3 class="text-secondary mb-4"><b>Comments:</b></h3>
                                {% for comment in event.comment_set.all %}
                                    <p>{{ comment.author.username }}:</p>
                                    <div>
                                        {% if user.is_authenticated and user == comment.author %}

                                            <form action="{% url 'update_comment_profile' comment.id user_profile.username %}"
                                                  method="post">
                                                {% csrf_token %}
                                                <div class="form-group">
                                        <textarea class="form-control" name="comment"
                                                  rows="3">{{ comment.comment_field }}</textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary mt-2">
                                                    <i class="bi bi-pencil"></i>
                                                </button>
                                            </form>
                                            <form method="post"
                                                  action="{% url 'delete_comment_profile' comment.id user_profile.username %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </form>


                                        {% else %}
                                            <textarea readonly class="form-control" name="comment"
                                                      rows="3">{{ comment.comment_field }}</textarea>
                                        {% endif %}
                                    </div>
                                    <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                {% if user.is_authenticated %}
                                    <form action="{% url 'save_comment_profile' username=user_profile.username %}"
                                          method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="event_id" value="{{ event.id }}">
                                        <div class="form-group">
                                            <p>Comment:</p>
                                            <textarea class="form-control" name="comment" rows="3"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                                    </form>
                                {% else %}
                                    <textarea readonly class="form-control" name="comment" rows="3"></textarea>
                                    <button type="submit" class="btn btn-primary mt-3" disabled>Sign in to comment
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>






{% endblock %}